<%- include('../layout/header'); %>
<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">country</th>
                        <th scope="col">year</th>
                        <th scope="col">Both</th>
                        <th scope="col">Male</th>
                        <th scope="col">Female</th>
                      </tr>
                    </thead>
                    <tbody>
                        <%data.forEach((row, index) => {%>
                            <tr>
                                <th scope="row"><%=index+1%></th>
                                <td><%=row.country%></td>
                                <td><%=row.year%></td>
                                <td><%=row.both%></td>
                                <td><%=row.male%></td>
                                <td><%=row.female%></td>
                                <td><%=row.category%></td>
                              </tr>    
                        <%})%>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</main>



<%- include('../layout/footer'); %>