<%- include('../layout/header'); %>

<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="3">life expectancy at birth of Kuwait</th>
                        </tr>
                      </thead>
                    <tbody>
                        <%data.bestWorst.forEach((row, index) => {%>
                            <tr>
                                <td><%=row.label%></td>
                                <td><%=row.data.rank%></td>
                                <td><%=row.data.year%></td>
                            </tr>    
                        <%})%>
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <canvas id="chart"></canvas>
            </div>
        </div>
    </div>
</main>


<script>
    const data = <%- JSON.stringify(data) %>;

    {
        let datasets = [];
        let labels = [];

        let dataList = [];

        [2000,2010,2015,2019].forEach(year => {
            labels.push(year);
        })

        datasets.push({
            label: 'male',
            data: data.kuwaitMaleRankList.map(x => x.value),
            borderColor: "#6ea8fe",
            backgroundColor: "#6ea8fe"
        });

        datasets.push({
            label: 'female',
            data: data.kuwaitFemaleRankList.map(x => x.value),
            borderColor: "#ffda6a",
            backgroundColor: "#ffda6a"
        });

        const ctx = document.getElementById('chart');
    
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: datasets
            }
        });
    }
    
  </script>

<%- include('../layout/footer'); %>